body
{
    max-width: 1980px;
    height: 100vh;
    background: #919d5a;
}
#projetos{
    width: 700px;
    min-width: 400px;
    display: flex;
}

#projetos .cards {
    width: 400px;
    height: 400px;
    display: block;
    margin-left: 20px;
}

.cards img{
    width: 300px;
    height: 300px;
    overflow: hidden;
    object-fit: cover;
    border-radius: 20px;

}

.cards img:hover{
    filter: brightness(0.5);
}

.cards .img{
    display: flex;

}

.cards .img:hover {
    transform: scale(1.01);

}
.cards a{
    text-decoration: none;
    color: #ffffff;
    text-align: center;
}
.img{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}
.img p{
    width: 100%;
    color: rgb(95, 41, 119);
    text-align: left;
    padding: 20px;

}

.containerSubTopicos
{
    max-width:400px;
}

.containerSubTopicos > br
{
    margin-bottom: 10%;
}

.subt > mark
{
    padding: 0  5px;
    color: rgba(0, 0, 0, 0.7);
    background-color: #ffffff;
}

.subt > p
{
    padding-top: 2%;
}

.containerSubTopicos > a
{
    border-radius: 5px;
    text-decoration: none;
    color: #ffffff;
}

.containerSubTopicos > a:hover
{
    font-size: 16px;
    font-weight: 600;
}

.containerSubTopicos > h2
{
    margin: 3% 0 2% 0;
}

.galeria
{
    position: absolute;
    max-width:370px;
    max-height: 100%;
    top: 32%;
    right: 15%;
}

.img-proj
{
    width: 95%;
    height: 100%;
    filter: drop-shadow(4px 4px 8px rgba(0, 0, 0, 0.5));
}


@media(max-width: 756px)
{
    .img-proj
    {
        visibility: hidden;

    }


}