*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Righteous', cursive;
}

body
{
    max-width: 1980px;
    height: 100vh;
    background: #FFE5E1;
    width: 100%;
}

.cert > p 
{
    color: #ffffff;
}

.cert > p > a
{
    color: #ffffff;
}


.cabecalho
{
    color: #f4e3ff;
    background: -moz-repeating-linear-gradient(-25deg, #FFE5E1, #033495);
    background: -ms-linear-gradient(-25deg, #FFE5E1, #033495);
    background: linear-gradient(-25deg, #FFE5E1, #033495);

    max-width: 1980px;
    min-height: 100vh;
    height: fit-content;
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


.cabecalho > .texto > h1
{
    color: white;
}

nav
{
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px 0 10px;

}

.icone-menu
{
    width: 160px;
    cursor: pointer;

}

nav > ul
{
    flex: 1;
    text-align: right;
    padding-right: 10px;

}

nav > ul > li
{
    list-style: none;
    display: inline-block;
    padding: 10px 20px;
}

nav > ul > li > a
{
    text-decoration: none;
    color: #fff;
    letter-spacing: 1px;
    font-size: 17px;
}

nav > ul > li > a:hover
{
    font-weight: bold;
    text-shadow: 4px 1px 49px 1px rgb(255, 255, 255,0.2);

}
p {
    letter-spacing: 1px;
    line-height: 36px;
    font-size: 16px;
}

.texto p
{
    letter-spacing: 1px;
    line-height: 36px;
    font-size: 22px;
}

.texto > p > mark
{
    font-weight: 600;
    padding: 3px;
    background-color: #ffffff;
    color: rgba(0, 0, 0, 0.7);

}

.texto > h1
{
    margin-top:1%;
    font-size: 65px;
    line-height: 160px;
    font-family: 'Righteous', cursive;
    filter: drop-shadow(2px 7px 5px rgba(30, 30, 30, 0.3));

}

.btn0,.btn
{
    margin-top: 3%;
    display: inline-block;
    border-radius: 15px;
    padding: 16px 50px;
    text-decoration: none;
    color: #ffffff;
    border: 1px solid #3998ff;
    font-size: 16pt;
}

.btn0:hover,.btn:hover
{
    font-weight: 600;
    font-size: 16.5pt;
    box-shadow: 4px 1px 49px 1px rgb(57, 152, 255);

}

.btn
{
    background: #033495;
    color: #AEE4F4;
    font-weight: 900;
    margin-left:5pt;

}


.foto-perfil
{
    max-width: 350px;
    min-width: 100px;
    width: auto;
    position: absolute;
    right: 20%;
    top: 30%;

}

.foto-perfil > img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.cabecalho > .logos
{
    display: flex;
    justify-content: left;
    align-items: center;
    width: 35%;
    position:absolute;
    bottom: 4%;
    flex-wrap: wrap;

}

.cabecalho > .logos > .logo-mini
{
    max-width:100px;
    height: 100%;
    margin-right:1%;
}

.cabecalho > .logos > .curvi
{
    max-width:100px;
    height: 100%;
    margin-right:1%;
}

@media(max-width: 1600px)
{

    body
    {
        margin: auto;

    }

    .cabecalho
    {
        padding: 4%;
    }


    .texto
    {
        margin-top: 5%;
    }

    .texto p
    {
        font-size: 16px;
    }
    .texto h1
    {
        font-size: 55px;
        line-height: 120px;
    }
}

@media(max-width: 1280px)
{

    .cabecalho
    {
        padding: 3%;
    }
    .foto-perfil
    {
        max-width: 350px;
        min-width: 100px;
        width: auto;
        position: absolute;
        right: 10%;
        top: 20%;

    }

    .texto
    {
        margin-top: 16%;
    }

    .texto p
    {
        font-size: 16px;
    }
    .texto h1
    {
        font-size: 55px;
        line-height: 80px;
    }
}

@media(max-width: 1086px)
{
    .texto h1{
        line-height: 40;
    }
    .cabecalho
    {
        padding: 2%;
    }

    .foto-perfil
    {
        max-width: 350px;
        min-width: 100px;
        width: auto;
        position: absolute;
        right: 10%;
        top: 20%;

    }

}

@media(max-width: 856px)
{
    .btn,.btn0{
        padding: 10px 30px;
    }
    .texto sobre
    {
        margin: 0;
    }
    .texto sobre > h1
    {
        margin: 0;
    }
    .foto-perfil
    {
        max-width: 350px;
        min-width: 100px;
        width: 250px;
        position: absolute;
        right: 4%;
        top: 27%;

    }
    nav > ul > li
    {
        list-style: none;
        display: flex;
        flex-direction: column;
        padding: 10px 10px;
    }

    .texto p
    {
        font-size: 14px;
    }
    .texto h1
    {
        font-size: 40px;
        line-height: 40px;
    }

    .texto > a
    {
        margin-top: 10px;
        display: inline-block;
        padding: 5px 10px;
        text-decoration: none;

    }
    .cabecalho
    {
        padding: 2%;
    }


}

@media(max-width: 756px)
{
    .btn,.btn0{
        padding: 10px 30px;
    }
    .foto-perfil
    {
        max-width: 350px;
        min-width: 100px;
        width: 100px;
        position: absolute;
        right: 4%;
        top: 30%;

    }
}

@media (max-width:400px) {
    .btn,.btn0{
        padding: 8px 20px;
    }
    .logos{
        visibility: hidden;
    }
}

