
*{
    font-family: 'Noto Sans', sans-serif;
}
hr
{
    margin:5pt 5px;
}
a{
  text-decoration: none;
    color: #fff;
}

h1
{
    margin-top: 5%;
    font-size: 55px;
    line-height: 160px;
    font-family: 'Righteous', cursive;
    filter: drop-shadow(2px 7px 5px rgba(30, 30, 30, 0.3));
    color: white;

}

.cabecalho > .texto1{
    padding: 1%;
    width: 100%;
}

.texto > p > a
{
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.texto > p > a > mark
{
    font-weight: 600;
    padding: 3px;
    background-color: #ffffff;
    color: rgba(0, 0, 0, 0.7);
}

.texto > p > a > mark:hover
{
    box-shadow: 4px 1px 29px 1px rgb(244, 227, 255);
    font-size:13pt;
}

.galeria > p > img
{
    max-width:80%;
}
#sobre
{
    height: fit-content;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    align-items: center;
    justify-content: center;
}

#sobre > .sobre-caixa
{
    margin-left: 1%;
    margin-bottom: 40px;

}

.sobre-caixa > p > mark
{
    font-weight: 600;
    padding: 3px;
    background-color: #ffffff;
    color: rgba(0, 0, 0, 0.7);
}

.sobre-caixa > ul > li
{
    letter-spacing: 1px;
    line-height: 36px;
    font-size: 17px;
    font-weight: bold;
}


.cards > a{
    height: fit-content;
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    align-items: center;
    justify-content: center;
}
a > p{
    margin-left: 20px;
}
.cards .img{
    width: 100%;
}
@media (width:600px) {
    #sobre{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        overflow: hidden;
    }
    .cards{
        width: 200px;
    }
    .cards p{
        width: 150px;
    }


}

